body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

.stars,
.twinkling,
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}

.stars {
    background: url('https://www.script-tutorials.com/demos/360/images/stars.png') repeat;
    z-index: 0;
    animation: move-stars 4000s linear infinite;
}

.twinkling {
    background: url('https://www.script-tutorials.com/demos/360/images/twinkling.png') repeat;
    z-index: 1;
    animation: move-twinkling 1000s linear infinite;
}


@keyframes move-stars {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-twinkling {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 10000px;
    }
}

@keyframes move-clouds {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.content {
    position: relative;
    z-index: 3;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#yesButton {
    background-color: green;
    color: white;
}

#noButton {
    background-color: red;
    color: white;
}